<a href="https://colab.research.google.com/github/AnmolMohak/Placement_related_Projects/blob/main/Project_data_loan_sanction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [143]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [144]:
df=pd.read_excel('/content/Project_Data_Loan_sanction.xlsx')

Question 1

Ans = 0 duplicates

In [157]:
df[df.duplicated()]

Empty DataFrame
Columns: [Loan_ID, Gender, Married, Dependents, Education, Self_Employed, Applicant_Income, Coapplicant_Income, LoanAmount, Loan_Amount_Term, Credit_History, Property_Area]
Index: []

Question 2

Question 3
Ans = only null value in " Dependents"

In [102]:
df.isnull().sum()

Loan_ID                0
Gender                 0
Married                0
Dependents            10
Education              0
Self_Employed          0
Applicant_Income       0
Coapplicant_Income     0
LoanAmount             0
Loan_Amount_Term       0
Credit_History         0
Property_Area          0
dtype: int64

Question 4

In [126]:
df[df['Dependents'].isnull()].shape

(10, 12)

In [128]:
df.dropna(inplace=True)
df.isnull().sum()

Loan_ID               0
Gender                0
Married               0
Dependents            0
Education             0
Self_Employed         0
Applicant_Income      0
Coapplicant_Income    0
LoanAmount            0
Loan_Amount_Term      0
Credit_History        0
Property_Area         0
dtype: int64

Question 5

In [ ]:
# no null values.

Question 6

In [ ]:
# no null values.

Question 7

In [ ]:
#no null values.

Question 8

In [129]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,Applicant_Income,Coapplicant_Income,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110,360,1,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126,360,1,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208,360,1,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100,360,1,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78,360,1,Urban

Question 9

In [130]:
df.to_csv('Project_Data_Loan_sanction.csv')

Questio 10

In [131]:
row,coloumn=df.shape
print(f"No of rows in : {row} ")
print(f"No of coloumn in : {coloumn}")

No of rows in : 357
No of coloumn in : 12

QUestion 11

In [132]:
df.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'Applicant_Income', 'Coapplicant_Income', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area'],
      dtype='object')

Question 12

In [133]:
df.describe()

,Applicant_Income,Coapplicant_Income,LoanAmount,Loan_Amount_Term,Credit_History
count,357.000000,357.000000,357.000000,357.000000,357.0
mean,4793.602241,1587.098039,136.501401,343.282913,1.0
std,4936.879103,2357.321156,61.503523,64.015457,0.0
min,0.000000,0.000000,28.000000,6.000000,1.0
25%,2858.000000,0.000000,102.000000,360.000000,1.0
50%,3786.000000,1025.000000,125.000000,360.000000,1.0
75%,5062.000000,2458.000000,158.000000,360.000000,1.0
max,72529.000000,24000.000000,550.000000,480.000000,1.0

Question 13

In [134]:
df_integer=df.select_dtypes(include=["int64"])
df[df_integer.columns]

,Applicant_Income,Coapplicant_Income,LoanAmount,Loan_Amount_Term,Credit_History
0,5720,0,110,360,1
1,3076,1500,126,360,1
2,5000,1800,208,360,1
3,2340,2546,100,360,1
4,3276,0,78,360,1
...,...,...,...,...,...
362,4009,1777,113,360,1
363,4158,709,115,360,1
364,3250,1993,126,360,1
365,5000,2393,158,360,1
366,9200,0,98,180,1

Question 14

In [135]:
df_integer.head()

,Applicant_Income,Coapplicant_Income,LoanAmount,Loan_Amount_Term,Credit_History
0,5720,0,110,360,1
1,3076,1500,126,360,1
2,5000,1800,208,360,1
3,2340,2546,100,360,1
4,3276,0,78,360,1

Question 15

In [136]:
df[df['Self_Employed']=='Yes'].head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,Applicant_Income,Coapplicant_Income,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
5,LP001054,Male,Yes,0,Not Graduate,Yes,2165,3422,152,360,1,Urban
37,LP001210,Male,Yes,0,Graduate,Yes,2267,2792,90,360,1,Urban
38,LP001211,Male,No,0,Graduate,Yes,5833,0,116,360,1,Urban
49,LP001270,Male,Yes,3+,Not Graduate,Yes,8000,250,187,360,1,Semiurban
54,LP001312,Male,Yes,0,Not Graduate,Yes,5293,0,92,360,1,Urban

Question 16

In [137]:
df[df['Property_Area']=='Urban']

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,Applicant_Income,Coapplicant_Income,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110,360,1,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126,360,1,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208,360,1,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100,360,1,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78,360,1,Urban
...,...,...,...,...,...,...,...,...,...,...,...,...
356,LP002935,Male,Yes,1,Graduate,No,3791,1936,85,360,1,Urban
357,LP002952,Male,No,0,Graduate,No,2500,0,60,360,1,Urban
360,LP002965,Female,Yes,0,Graduate,No,8550,4255,96,360,1,Urban
362,LP002971,Male,Yes,3+,Not Graduate,Yes,4009,1777,113,360,1,Urban
363,LP002975,Male,Yes,0,Graduate,No,4158,709,115,360,1,Urban

In [138]:
df['Gender'].nunique()

2

In [168]:
df.groupby('Gender').mean()

<ipython-input-168-1bea18cda63a>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('Gender').mean()

,Applicant_Income,Coapplicant_Income,LoanAmount,Loan_Amount_Term,Credit_History
Gender,,,,,
Female,4163.600000,1171.957143,126.771429,350.914286,1.0
Male,4956.912458,1663.292929,138.151515,340.915825,1.0